version: "3.7"
volumes:
  splunk-sc4s-var:
    external:
      name: 'splunk-sc4s-var'
services:
  sc4s:
    image: splunk/scs:latest
    ports:  
       - target: 514
         published: 514
         protocol: tcp
# Comment the following line out if using docker-compose
#        mode: host
       - target: 514
         published: 514
         protocol: udp
# Comment the following line out if using docker-compose         
#        mode: host
       - target: 6514
         published: 6514
         protocol: tcp
# Comment the following line out if using docker-compose         
#        mode: host
    env_file:
      - /opt/sc4s/env_file
    volumes:
      - /opt/sc4s/local:/opt/syslog-ng/etc/conf.d/local:z
      - splunk-sc4s-var:/opt/syslog-ng/var
# Uncomment the following line if local disk archiving is desired
#     - /opt/sc4s/archive:/opt/syslog-ng/var/archive:z
# Uncomment the following line if custom TLS certs are provided
#     - /opt/sc4s/tls:/opt/syslog-ng/tls:z
